<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController" ng-init="fetchCategorias(); fetchMovies()">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script type="text/javascript" src="codigo.js"></script>
  <link rel="stylesheet" href="sesiondiseño.css">
  <title>Bienvenido a MásPelis</title>
</head>
<body>
  <div id="mi-bloque" ng-style="{'display': displayBloque}">
    <h2>Administrar Página</h2>
    <div class="">
      <div class="tab">
        <button class="tablinks" ng-click="openForm($event, 'form1')">Usuarios</button>
        <button class="tablinks" ng-click="openForm($event, 'form2')">Videos</button>
        <button class="tablinks" ng-click="openForm($event, 'form3')">Categorias</button>
      </div>

      <div id="form1" class="tabcontent">
        <h3>Usuarios</h3>
    <div>
      <h4>Crear Usuario</h4>
      <form>
        <label>Nombre:</label>
        <input type="text" ng-model="newUser.nombre">
        <label>Correo:</label>
        <input type="email" ng-model="newUser.correo">
        <label>Contraseña:</label>
        <input type="password" ng-model="newUser.password">
        <button ng-click="createUser()">Crear</button>
      </form>
    </div>
    <div>
      <h4>Actualizar Usuario</h4>
      <div ng-repeat="user in users">
        <form>
          <label>Nombre:</label>
          <input type="text" ng-model="user.nombre">
          <label>Correo:</label>
          <input type="email" ng-model="user.correo" disabled>
          <label>Contraseña:</label>
          <input type="password" ng-model="user.password">
          <label>Rol:</label>
          <input type="text" ng-model="user.rol" disabled>
          <button ng-click="updateUser(user)">Actualizar</button>
          <button ng-click="deleteUser(user)">Eliminar</button>
        </form>
      </div>
    </div>
  </div>

      <div id="form2" class="tabcontent">
        <h3>Películas</h3>
        <div>
          <h4>Crear Película</h4>
          <form>
            <label>Título:</label>
            <input type="text" ng-model="newMovie.titulo">
            <label>Descripción:</label>
            <textarea ng-model="newMovie.descripcion"></textarea>
            <label>URL:</label>
            <input type="text" ng-model="newMovie.url">
            <label>Categoría:</label>
            <select ng-model="newMovie.categoria" ng-options="categoria.nombre for categoria in categorias">
              <option value="" disabled selected>Selecciona una categoría</option>
            </select>
            <button ng-click="createMovie()">Crear</button>
          </form>
        </div>
        <div>
          <h4>Actualizar Película</h4>
          <div ng-repeat="movie in movies">
            <form>
              <label>Título:</label>
              <input type="text" ng-model="movie.titulo">
              <label>Descripción:</label>
              <textarea ng-model="movie.descripcion"></textarea>
              <label>URL:</label>
              <input type="text" ng-model="movie.url">
              <label>Categoría:</label>
              <select ng-model="movie.categoria" ng-options="categoria.nombre for categoria in categorias">
                <option value="" disabled selected>Selecciona una categoría</option>
              </select>
              <button ng-click="updateMovie(movie)">Actualizar</button>
              <button ng-click="deleteMovie(movie)">Eliminar</button>
            </form>
          </div>
        </div>
      </div>

      <div id="form3" class="tabcontent">
        <h3>Categorías</h3>
        <div>
          <h4>Crear Categoría</h4>
          <form>
            <label>Nombre:</label>
            <input type="text" ng-model="newCategoria.nombre">
            <button ng-click="createCategoria()">Crear</button>
          </form>
        </div>
        <div>
    <h4>Actualizar Categoría</h4>
      <div ng-repeat="categoria in categorias">
        <form>
          <label>Nombre:</label>
          <input type="text" ng-model="categoria.nombre">
          <button ng-click="updateCategoria(categoria)">Actualizar</button>
          <button ng-click="deleteCategoria(categoria)">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
    </div>

    <button ng-click="cerrarBloque()">Cerrar</button>
  </div>

  <div class="listapeliculas">
    <main id="main">
      <div class="movie" ng-repeat="movie in movies">
        <a href="{{movie.url}}"><img src="img/pelis.jpg" alt="{{movie.titulo}}"></a>
        <div class="movie-info">
          <h3>{{movie.titulo}}</h3>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          {{movie.descripcion}}
        </div>
      </div>
    </main>
  </div>

  <div class="barrasuperior">
    <div class="foto1">
      <img class="logo" src="img/LOGO2.png">
    </div>
  </div>

  <div class="navegacion">
    <header>
      <nav>
        <ul>
          <li id="ADMPag"><a href="#" ng-click="abrirBloque()">Adm. Página</a></li>
          <li class="formu">
            <form class="formulario" action="#" method="post">
              <input type="text" name="buscador" id="pelibuscada" placeholder="Buscar Película" ng-model="busqueda">
              <button ng-click="BuscarPeliculas()" type="button" name="boton"> <img src="img/buscarlupa.png" class="boton"> </button>
            </form>
          </li>
          <li><a ng-click="reiniciarPagina()">Inicio</a></li>
          <li>
            <div class="content-select">
              <select id="sele" name="generos" ng-model="selectedCategoria" ng-options="categoria.nombre as categoria.nombre for categoria in categorias" ng-change="selectChange()">
                <option value="" hidden>¿Qué Ver?</option>
                <option value="QV" hidden selected>¿Qué Ver?</option>
              </select>
            </div>
          </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="informacion">
    <h4>Trabajo realizado por Juan José y David</h4>
  </div>

</body>
</html>
